<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to Proto Night Date!</h1>
    <p class="lead">Find someone to hack with! Are you a developer or an idea guy?
    Put up your profile, select people you'd like to match with, get matched and go hack
    together for a night or a seed round!</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-1">
      <p>
      <button ng-click="developerSignup()" style="width:100px"> I'm a devleoper! </button>
      </p>
      <p>
      <button ng-click="ideaGuySignup()" style="width:100px"> I'm a brilliant creative idea guy! </button>
      </p>
      </div>
    </div>
    <div class="col-lg-5"></div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p> Brought to you by Justin Sher and Tim Reilly</p>
    <a href="https://twitter.com/innovaedge">@innovaedge</a> |
    <a href="https://twitter.com/timmyreilly">@timmyreilly</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
